@model IEnumerable<User>
@{
    ViewData["Title"] = "All Data";
}
<div class="row">
    <div class="col-12">
        <a href="/Home/Index" class="btn btn-success">Register</a>
    </div>
</div>
<div class="row my-5">
    <div class="col-8 m-auto py-3">
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Register Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    
                    
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var item in Model)
                {
                    <tr id="@item.U_id">
                        <th scope="row">@item.U_id</th>
                        <td>@item.Email</td>
                        <td>@item.Username</td>
                        <td>@item.Password</td>
                        <td>@item.RegisterDate</td>
                        <td><a href="/Home/EditProcess/@item.U_id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="/Home/DeleteProcess/@item.U_id" class="btn btn-danger"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


